#Result {
	overflow: hidden;
	margin-top: -10px;
	margin-left: -20px;
}

#Result .ResultColumn {
	float: left;
}

#Result table {
	margin-left: 20px !important;
	width: inherit !important;
}

#Result td {
	padding: 4px 10px !important;
	font-size: 15px !important;
}

#Result .ClickableTable td {
	cursor: pointer;
}

#Result .NameColumn {
	width: 86px !important;
	text-align: center !important;
}

#Result .PriceColumn {
	width: 100px !important;
	text-align: right !important;
}

#Result .DetailField {
	margin: 6px 0 4px 24px !important;
	padding: 12px;
	width: 218px !important;
	height: 162px;
}
